.header{
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    background-color: #39445a;
    font-size: 5vw;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
    padding-bottom: 15px;
    display: flex;
}


@media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }